<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML IN NODE JS</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- This File used for Using Html Code in Node.js So, use .ejs Extension -->
    <h1>Namaste! Good maorning.....</h1>
</body>
</html>